{% load static %}
{% load widget_tweaks %}

<div class="p-b-30 m-lr-15-sm">
	<!-- Review -->
	<div class="flex-w flex-t p-b-68">
	  {% for review in reviews %}
		<div class="size-207">
			<div class="flex-w flex-sb-m p-b-17">
				<span class="mtext-107 cl2 p-r-20">
					{{ review.name }}
				</span>

				<span class="fs-18 cl11">
				  {% for x in review.range %}
					<i class="zmdi zmdi-star"></i>
					{% endfor %}
				</span>
			</div>

			<p class="stext-102 cl6">
			  {{ review.content }}
			</p>
		</div>
		{% empty %}
		<p>Be the first to give a review</p>
		{% endfor %}
	</div>
	
	<!-- Add review -->
	<form class="w-full" hx-post="{% url "review:submit" %}" hx-target="#django-review">
	  {% csrf_token %}
		<h5 class="mtext-108 cl2 p-b-7">
			Add a review
		</h5>

		<p class="stext-102 cl6">
			Your email address will not be published.
		</p>

		<div class="flex-w flex-m p-t-50 p-b-23">
			<span class="stext-102 cl3 m-r-16">
				Your Rating
			</span>

			<span class="wrap-rating fs-18 cl11 pointer">
				<i class="item-rating pointer zmdi zmdi-star-outline"></i>
				<i class="item-rating pointer zmdi zmdi-star-outline"></i>
				<i class="item-rating pointer zmdi zmdi-star-outline"></i>
				<i class="item-rating pointer zmdi zmdi-star-outline"></i>
				<i class="item-rating pointer zmdi zmdi-star-outline"></i>
				{# <input class="dis-none" type="number" name="rating"> #}
				{% render_field form.rating class="dis-none" %}
			</span>
		</div>

		<div class="row p-b-25">
			<div class="col-12 p-b-5">
				<label class="stext-102 cl3" for="review">Your review</label>
				{# <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea> #}
				{% render_field form.content class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" rows="4" %}
			</div>

			<div class="col-sm-6 p-b-5">
				<label class="stext-102 cl3" for="name">{{ form.name.label }}</label>
				{% render_field form.name class="size-111 bor8 stext-102 cl2 p-lr-20" id="name" %}
			</div>

			<div class="col-sm-6 p-b-5">
				<label class="stext-102 cl3" for="email">{{ form.email.label }}</label>
				{% render_field form.email class="size-111 bor8 stext-102 cl2 p-lr-20" id="email" %}
			</div>
		</div>

		<input type="hidden" name="product_id" id="product" value="{{ product.sku }}" />
		<input class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10" type="submit" name="submit" id="submit" value="Submit" />
	</form>
</div>
