{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Wishlist 
{% endblock %}

{% block content %}

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Wishlist
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	
		<div class="container">
		  {% if wishlist %}
			<div class="row">
			  <form class="bg0 p-t-75 p-b-85" method="post" action=".">
	        {% csrf_token %}
  			  <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
  					<div class="m-l-25 m-r--38 m-lr-0-xl">
  						<div class="wrap-table-shopping-cart">
  							<table class="table-shopping-cart">
  								<tr class="table_head">
  									<th class="column-1">Product</th>
  									<th class="column-2"></th>
  									<th class="column-3">Price</th>
  									<th class="column-4">Add Item</th>
  									<th class="column-5">Remove</th>
  								</tr>
  
  								{% for item in wishlist %}
  								<tr class="table_row">
  									<td class="column-1">
  										<div class="how-itemcart1">
  										  {% for img in item.media.all %}
  										  {% if img.is_feature %}
  											<img src="{{ img.image.url }}" alt="IMG">
  											{% endif %}
  											{% endfor %}
  										</div>
  									</td>
  									<td class="column-2">{{ item.name }}</td>
  									<td class="column-3">$ {{ item.sale_price }}</td>
  									<td class="column-4">
                      <a href="{% url "store:product-detail" item.slug %}" class="btn btn-primary">View</a>
  									</td>
  									<td class="column-5">
  									  <a class="btn btn-danger" href="{% url "account:wishlist_add" item.slug %}">Remove</a>
  									</td>
  								</tr>
  								{% endfor %}
  
  							</table>
  						</div>
  					</div>
  				</div>
				</form>
			</div>
			{% else %}
			<br>
			<p>No product in your wishlist</p>
			<br>
			<br>
			{% endif %}
		</div>

{% endblock %}